<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453801850363-sub1ffdu0h4eo7k9htifb2qstkbvv5j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453801850363-sub1ffdu0h4eo7k9htifb2qstkbvv5j1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>453801850363-330ave0klp18ilotqsrt8oaq7idkj8s3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChvLolQAVIR1PFO1EbOx3sBUmTo-mvsj4</string>
	<key>GCM_SENDER_ID</key>
	<string>453801850363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseNotifee</string>
	<key>PROJECT_ID</key>
	<string>fir-notifee-fb9aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notifee-fb9aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453801850363:ios:4bb36600693e10f0e7475e</string>
</dict>
</plist>